In [8]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('01-100007.csv')

In [25]:
t = df.loc[df['segment']==0,'MAP (mmHg)'][64:76]
np.array(t)

array([92, 92, 93, 93, 93, 92, 92, 91, 88, 87, 87, 87])

In [26]:
bucket = [67.28, 65.78, 67.81] 
bucket_err = [0.31, 0.3, 0.48] 
igloo = [70.33, 79.41, 71.43] 
igloo_err = [0.35, 0.37, 0.63]

In [32]:
test = {'bucket_mean':bucket,
       'bucket_stderr':bucket_err,
       'igloo_mean':igloo,
       'igloo_stderr':igloo_err}

pd.DataFrame(test)

   bucket_mean  bucket_stderr  igloo_mean  igloo_stderr
0        67.28           0.31       70.33          0.35
1        65.78           0.30       79.41          0.37
2        67.81           0.48       71.43          0.63

{'[67.28, 65.78, 67.81]': [67.28, 65.78, 67.81],
 '[0.31, 0.3, 0.48]': [0.31, 0.3, 0.48],
 '[70.33, 79.41, 71.43]': [70.33, 79.41, 71.43],
 '[0.35, 0.37, 0.63]': [0.35, 0.37, 0.63]}